.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40;
    color: white;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
}

.logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
}

.logoutIcon {
    width: 24px;
    height: 24px;
    color: white;
}
