/* MentorRecommendationsPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mainContent {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.mentorList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
}

.mentorItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f2ef;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.avatarPlaceholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
}

.info {
    text-align: center;
    margin-top: 10px;
}

.info div {
    margin-bottom: 5px;
}
